@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    97 7th Street<br />
    Springs, East Rand Gauteng<br />
</address>

<address>
    <strong>Fok op</strong>   <a>073 457 2040</a><br />
    <strong>buffelsfontein </strong> <a>078 162 3206</a>
</address>