@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PIMP inc.</h1>
    <img src="Screenshot (60).png"/>
    <p class="lead">Pimp inc. was a bright idee brought up by a braai one night where a guy was nearly curbed or curb stomped, it was then desided that ho's need band together to please both female and male alike and so PIMP inc was born. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Here are the services we offer</h2>
        <p>
            Felch, Skullfuck, cum dumpster, Alabama hot pocket, Roman Helmet and many many more.  Basically anything you want!!!
        </p>
    </div>
</div>